<%- @view_title = "Administration" -%>
<% if @errors && !@errors.empty? %>
    <div class="form_submit_errors">
        <div class="errors">
            <h3><%= l.string("GLOBAL_ERRORS_MESSAGE") -%></h3>
            <ul>
                <% @errors.each do |error| %>
                    <li class="error"><%= h(error.to_s) -%></li>
                <% end %>
            </ul>
        </div>
    </div>
<% end %>
<div id = "pipeline_snippet_edit">
    <% scope = {:modifiable_groups => @modifiable_groups, :group_name => @group_name}; -%><div id="modifiable_groups">
    <h1>Pipeline Groups</h1>
    <ul>
        <%- scope[:modifiable_groups].each do |group| -%>
            <%- class_name = ""%>
            <%- class_name = "selected" if group == scope[:group_name]-%>
            <li class="<%= class_name %>"><span><%= link_to group, pipelines_snippet_show_path(:group_name => group), :class => "modifiable_group_link", :title => group %></span></li>
        <% end -%>
    </ul>
</div>


    <div id="edit_group">
        <% form_for @group_name,
                    :url => pipelines_snippet_update_path(:group_name => @group_name),
                    :html => {:method => :put,
                              :id => "group_edit_form"} do |form| %>
            <div class="form_buttons">
                <button type="submit" class="submit primary skip_dirty_stop" id="save_config" disabled="disabled">
                    <span><%= l.string("SAVE") %></span>
                </button>
                <%= link_to l.string("CANCEL"), pipelines_snippet_show_path(:group_name => @group_name), :class => 'cancel link_as_button skip_dirty_stop' -%>
            </div>
            <input name="config_md5" type="hidden" value="<%= @config_md5 %>"/>
            <textarea name="group_xml" class='code' rows="40" id="content_container_for_edit"><%= h(@group_as_xml) %></textarea>

        <% end %>
    </div>
    <% scope = {:form_id => 'group_edit_form'}; -%><script type="text/javascript">
    Util.on_load(function() {
        skip_dirty_stop = false;
        jQuery('#<%= scope[:form_id] %>').dirty_form();
        jQuery('a:not(.skip_dirty_stop)').  dirty_stopper({ dialog : {title : "<%=l.string("UNSAVED_CHANGES")-%>", height: 80}, message : "<%=l.string("UNSAVED_CHANGES_WARNING_MESSAGE")-%>"});
        jQuery(window).resize(function() {
            jQuery(".ui-dialog-content") && jQuery(".ui-dialog-content").dialog("option", "position", "center");
        });
    });
</script>
</div>

<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery("button#save_config").removeAttr("disabled");
    })
</script>