<div class="form_item_block">
    <label><%= l.string('TASK_TYPE') -%></label>
    <%= scope[:form].select(com.thoughtworks.cruise.domain.Task::TASK_TYPE, [["ant", "AntTask"], ["exec", "ExecTask"], ["nant", "NantTask"], ["rake", "RakeTask"], ["fetch", "FetchTask"]]) %>
</div>

<div class="form_item_block">
    <label><%= l.string('COMMAND') -%></label>
    <%= scope[:form].text_field(com.thoughtworks.cruise.config.ExecTask::COMMAND) %>
    <%= error_message_on(scope[:task], com.thoughtworks.cruise.config.ExecTask::COMMAND, :css_class => "form_error") %>
</div>

<div class="form_item_block">
    <label><%= l.string('ARGUMENTS') -%></label>
    <%= scope[:form].text_field(com.thoughtworks.cruise.config.ExecTask::ARGS) %>
    <%= error_message_on(scope[:task], com.thoughtworks.cruise.config.ExecTask::ARGS, :css_class => "form_error") %>
</div>
<div class="form_item_block">
    <label><%= l.string('WORKING_DIRECTORY') -%></label>
    <%= scope[:form].text_field(com.thoughtworks.cruise.config.ExecTask::WORKING_DIR) %>
    <%= error_message_on(scope[:task], com.thoughtworks.cruise.config.ExecTask::WORKING_DIR, :css_class => "form_error") %>
</div>