<%= javascript_include_tag "tw_gadget" -%>
<%- scope = {} -%>
<script src="/go/gadgets/js/rpc.js?v=1.1-beta5" type="text/javascript"></script>
<script type="text/javascript">
    Util.on_load(function() {
        tw_gadget.init('<%=gadget_rendering_path %>');
    });
</script>
<% if @mingle_config %>
    <script type="text/javascript">
        Util.on_load(function() {
            card_activity_gadget_url = '<%= @mingle_config.urlFor('/gadgets/card_activity.xml') -%>';
            card_activity_gadget_options = {
                nocache: 0,
                debug: 1,
                up_card_number_list_url: '<%= card_activity_url(:only_path => false, :pipeline_name => @pipeline_name, :from_pipeline_counter => @from_pipeline.getCounter(), :to_pipeline_counter => @to_pipeline.getCounter(), :show_bisect => show_bisect?) -%>',
                up_project: <%= @mingle_config.getQuotedProjectIdentifier() -%>,
                up_grouping_conditions: <%= @mingle_config.getQuotedMql() -%>,
                width: '100%',
                height: '850px'
            };
            tw_gadget.addGadget('card_activity_gadget', card_activity_gadget_url, card_activity_gadget_options);
        });
    </script>
<% end %>
<div class="clear-float"></div>
<div class="sub_tab_container rounded-corner-for-tab-container">
    <div class="sub_tabs_container">
        <ul>
            <li class="checkins current_tab">
                <a class="tab_button_body_match_text">checkins</a>
                <a><%= (l.string("CHANGES")).capitalize -%></a>
            </li>
            <li class="card_activity">
                <a class="tab_button_body_match_text">card_activity</a>
                <a><%= l.string("CARD_ACTIVITY") -%></a>
            </li>
        </ul>
    </div>
    <div class="sub_tab_container_content">
        <div id="tab-content-of-card_activity">
            <% scope = {:to_pipeline => @to_pipeline, :from_pipeline => @from_pipeline}; -%><%- if scope[:to_pipeline].isBisect() || scope[:from_pipeline].isBisect() -%>
    <div class="information">
        <%- if params[:show_bisect] == true.to_s -%>
            <div class="warning">
                <%= l.string("SHOWING_BISECT_DIFF") -%>
            </div>
        <%- else -%>
            <div class="message">
                <span>
                    <%= l.string("SHOW_BISECT_DIFF_CONFIRMATION") -%>
                </span>
                <span class="prompt">
                    <%= link_to "Continue", compare_pipelines_path(:show_bisect => true), :class => :link_as_header_button -%>
                </span>
            </div>
        <%- end -%>
    </div>
<%- end -%>
            <div id="card_activity_gadget" class="gadget-container">
                <% unless @mingle_config %>
                    <div class="information"><%= l.string("NO_MINGLE_CONFIG_FOUND") %> <%= link_to l.string("MORE_INFORMATION"), url_for_path('/help/mingle_card_activity_gadget.html'), :target => "_blank" %></div>
                <% end %>
                <!-- gadget goes here -->
            </div>
        </div>
        <div id="tab-content-of-checkins" class="material_revision_diff">
            <% scope = {:to_pipeline => @to_pipeline, :from_pipeline => @from_pipeline}; -%><%- if scope[:to_pipeline].isBisect() || scope[:from_pipeline].isBisect() -%>
    <div class="information">
        <%- if params[:show_bisect] == true.to_s -%>
            <div class="warning">
                <%= l.string("SHOWING_BISECT_DIFF") -%>
            </div>
        <%- else -%>
            <div class="message">
                <span>
                    <%= l.string("SHOW_BISECT_DIFF_CONFIRMATION") -%>
                </span>
                <span class="prompt">
                    <%= link_to "Continue", compare_pipelines_path(:show_bisect => true), :class => :link_as_header_button -%>
                </span>
            </div>
        <%- end -%>
    </div>
<%- end -%>
            <div style="padding: 1em;">
                <% scope = {:scm_material_revisions => @material_revisions, :dependency_material_revisions => @dependency_material_revisions, :draw_wrapper_div => true}; -%><% scope[:scm_material_revisions].each do |material_revision_in_diff_revisions| %>
    <%- if scope[:draw_wrapper_div] -%>
        <div>
    <%- end -%>
    <% _scope = {:material => material_revision_in_diff_revisions.getMaterial(), :material_revision_in_diff_revisions => material_revision_in_diff_revisions}; -%>
    <div class="material_title">
        <strong> <%= "#{_scope[:material].getTypeForDisplay()}" %> - <%= "#{_scope[:material].getLongDescription()}" -%></strong>
    </div>
    <table class="list_table material_modifications">
        <tr>
            <th class="revision"><%= l.string("REVISION") -%></th>
            <th class="modified_by"><%= l.string("MODIFIED_BY") -%></th>
            <th class="comment"><%= l.string("COMMENT") -%></th>
        </tr>
        <% _scope[:material_revision_in_diff_revisions].getModifications().each do |modification_in_diff_material_revision| %>
            <tr class="change">
                <td class="revision">
                    <%= smart_word_breaker(modification_in_diff_material_revision.getRevision()) -%>
                </td>
                <td class="modified_by">
                    <%= smart_word_breaker(h(modification_in_diff_material_revision.getUserDisplayName())) -%>
                    <br/>
                    <%= smart_word_breaker(modification_in_diff_material_revision.getModifiedTime().iso8601) -%>
                </td>
                <td class="comment">
                    <%- if params[:pipeline_name] -%>
                        <%= render_comment(modification_in_diff_material_revision, params[:pipeline_name]) -%>
                    <%- else -%>
                        <%= modification_in_diff_material_revision.getComment() -%>
                    <%- end -%>
                </td>
            </tr>
        <% end %>
    </table>

    <%- if scope[:draw_wrapper_div] -%>
        </div>
    <%- end -%>
<% end %>
<% scope[:dependency_material_revisions].each do |material_revision_in_diff_revisions| %>
    <%- if scope[:draw_wrapper_div] -%>
        <div>
    <%- end -%>
    <% _scope = {:material => material_revision_in_diff_revisions.getMaterial(), :material_revision_in_diff_revisions => material_revision_in_diff_revisions}; -%><div class="material_title">
    <strong> <%= "#{_scope[:material].getTypeForDisplay()}" %> - <%= "#{smart_word_breaker(_scope[:material].getDisplayName())}" -%></strong>
</div>
<table class="list_table dependency_material_modifications">
    <tr>
        <th class="dmr revision"><%= l.string("REVISION") -%></th>
        <th class="dmr label"><%= l.string("LABEL") -%></th>
        <th class="dmr completed_at"><%= l.string("COMPLETED_AT") -%></th>
    </tr>
    <% _scope[:material_revision_in_diff_revisions].getModifications().each do |modification_in_diff_material_revision| %>
        <tr class="change">
            <td class="revision">
                <%= link_to(modification_in_diff_material_revision.getRevision(), path_for_stage(stage_identifier_for_locator(modification_in_diff_material_revision.getRevision()))) -%>
            </td>
            <td class="label">
                <%= stage_identifier = stage_identifier_for_locator(modification_in_diff_material_revision.getRevision())
                    link_to(modification_in_diff_material_revision.getPipelineLabel(), vsm_show_path(stage_identifier.getPipelineName(),stage_identifier.getPipelineCounter())) -%>
            </td>
            <td class="completed_at">
                <%= smart_word_breaker(modification_in_diff_material_revision.getModifiedTime().iso8601) -%>
            </td>
        </tr>
    <% end %>
</table>

    <%- if scope[:draw_wrapper_div] -%>
        </div>
    <%- end -%>
<% end %>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    new TabsManager(undefined, 'comparison_page', '<%= params[:pipeline_name] -%>>', 'checkins');
</script>